* {
    background-color: #1F2937;
    color: white;
    
}
h1 {
    font-size: 48px #F9FAF8;
    font-weight: bolder;
    padding: 3rem;
    width: 20%;
}
h3 {
    background-color: white;
    font-size: 36px #1F2937;
    font-weight: bolder;
    text-align: center;
}
.logo {
    font-size: 24px #F9FAF8;
    position: absolute;
    top: 0px;
    left: 100px;
}

.link-container {
    display: inline-flex;
    position: absolute;
    width: 40%;
    text-align: center;
    top: 0;
    right: 100px;
  }
  
  .link-container div {
    width: 40%;
    height: 20px;
  }
  
  div h3 {
    background-color: #1F2937;
    font-size: 18px;
    font-weight: normal;
    color: #F9FAF8;

  }

.button-container-1 {
    font-size: 18px #E5E7EB;
    padding: 0.5em;
    width: 20%;
}
.section-2 {
    background-color: white;

}
